<ion-header>

  <ion-navbar color="dark" >
    <button ion-button menuToggle color="light">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title color="light">Favorites</ion-title>
    <ion-buttons end>
    <button ion-button icon-only (click)="search()">
      <ion-icon name='search' ></ion-icon>
    </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>
<ion-content padding>

   <ion-list inset>

       <ion-item *ngFor="let video of videos">
          <a color="link" ion-button block clear (click)="goToVideo( video.id, video.user_id)">    {{video.name}}   </a>
           <div class="video-container"  >
            <video src={{video.address.url}}  controls  >

            </video>
           </div>
          <ion-card  >


             <ion-item >
               <button (click)="like(video.id)" *ngIf="this.likes.get(video.id)" ion-button clear item-start  ><ion-icon name="thumbs-up" class = "like" ></ion-icon></button>
               <button (click)="like(video.id)" *ngIf="!this.likes.get(video.id)" ion-button clear item-start  color ='link'  ><ion-icon name="thumbs-up" class = "like" ></ion-icon></button>
               <button (click)="dislike(video.id)" *ngIf="this.dislikes.get(video.id)" ion-button clear item-end color ='danger' > <ion-icon name="thumbs-down" class = "like"  ></ion-icon></button>
               <button (click)="dislike(video.id)" *ngIf="!this.dislikes.get(video.id)" ion-button clear item-end color ='link' > <ion-icon name="thumbs-down" class = "like"  ></ion-icon></button>
               <button ion-button clear item-start (click)="likesVideo( video.id )" > <ion-badge item-start >{{video.likes}}</ion-badge></button>
               <button ion-button clear item-end (click)="dislikesVideo( video.id )" ><ion-badge item-end color="danger">{{video.dislikes}}</ion-badge></button>
              </ion-item>
            </ion-card>
      </ion-item>
    </ion-list>

</ion-content>
