page-search {
	.video-container {
      position: relative !important;
      padding-bottom: 56.25% !important;
      padding-top: 0px; height: 0; overflow: hidden !important;
      width: 100% !important;

    
      align-items: center;
   


  }

  .video-container video{
      width: 100% !important;

  }


  .like {
  	font-size: 20px;
  }
}