<ion-header>
  <ion-navbar color="dark" >
    <button ion-button menuToggle color="light">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title color="light" *ngIf="videos">{{videos.name}} </ion-title>
    <ion-buttons end>
    <button ion-button icon-only>
      <ion-icon name='search' ></ion-icon>
    </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>
<ion-content padding class="action-sheets-basic-page">
  <button ion-button block (click)="openMenu()" *ngIf="profile">
    Options
  </button>
  <ion-card  *ngIf="videos">
          <ion-item >
          <div class="video-container">
      		  <video src={{videos.address.url}}  controls  >

      		  </video>
      		</div>
        </ion-item >
      		<ion-item >
      		  <button ion-button clear item-start><ion-icon name="thumbs-up" class = "like"></ion-icon></button>
      		  <button ion-button clear item-end > <ion-icon name="thumbs-down" class = "like" color="danger"></ion-icon></button>
      		  <button ion-button clear item-start (click)="presentModal( videos.id )" > <ion-badge item-start >{{videos.likes}}</ion-badge></button>
      		  <button ion-button clear item-end ><ion-badge item-end color="danger">{{videos.dislikes}}</ion-badge></button>
      		</ion-item>
      		<ion-item>
      		  <ion-icon name="person"></ion-icon>
      		  Shared by:
            <button ion-button clear  (click)="goToUser( user.id)"   *ngIf="user">
               <ion-badge >{{user.username}}</ion-badge></button>


      		</ion-item>

          <ion-item>
      		  <ion-icon name="timer"></ion-icon>
      		  Time
      		  <ion-badge item-end>{{videos.time}}</ion-badge>
      		</ion-item>
      		<ion-item>
      		  <ion-icon name="albuns"></ion-icon>
      		  Category
      		  <ion-badge item-end>{{videos.category}}</ion-badge>
      		</ion-item>
          <ion-item>
      		  <ion-icon name="eye"></ion-icon>
      		  Visits
      		  <ion-badge item-end>{{videos.visits}}</ion-badge>
      		</ion-item>
      		<ion-item>
      		  <ion-icon name="chatboxes"></ion-icon>
      		  Comments
      		  <ion-badge item-end>{{videos.comments}}</ion-badge>
      		</ion-item>
          <form [formGroup]="myForm" >
          <ion-item color = "link">

                <button ion-button clear item-end (click)="addComment()"  ><ion-icon name="send"  class = "like" color = "light" ></ion-icon></button>
               <ion-label stacked>Add your comment:</ion-label>
               <ion-input formControlName="text" type="text" placeholder="Write here"  [(ngModel)]="newComment.text"></ion-input>


        	</ion-item>
            </form >
          <ion-list inset>
              <ion-item *ngFor="let comment of comments" >

                    <ion-item >
                       <ion-icon name="chatboxes"></ion-icon>
                          {{comment.text}}

                     </ion-item>
             </ion-item>
           </ion-list>

      </ion-card>



</ion-content>
